@charset "UTF-8";


@media screen and (max-width: 768px) {
    
    /* ================ CABEÇALHO ===================*/
    

    .btnPgInicial{
      width: 100px;
      height: 35px;

      margin-top: 10px;
      margin-left: 20px;
        
    }
    

      /* ================ IMAGEM PERFIL ===================*/

      .imgPerfil{
        
        width: 130px;
        height: 130px;
      }

      /* ================ PERFIL DADOS ===================*/


      .dadosPerfil{
        font-size: .5em;
   
        max-width: 380px;
        margin: auto;
      }
      .dadosPerfil > h1{
        max-width: 350px;
      }

      .dadosSobre{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        
      }
     
      .divDados > h2{
        font-size: 1.4em;
      }

    
      ul > li{
        margin-bottom: 5px;
        font-family: var(--fontTexto);
        font-size: 1.2em;
      }
      .divCertificados{
        grid-column: 3/4;
      }
      .divDadoPessoais{
        margin-top: 35px;
        grid-row: 2/3;
        grid-column: 1/4;
       
        text-align: center;
        
      }

      /* ================ LINHA SEPARADORA ===================*/

      .linhaSeparadora{
        margin-top: 15px;
      }

      /* ================ PROJETOS ===================*/

      .secProjetos{
       width: 350px;
      }
      .rolagemLateral{
        width: 100%;
        height: 160px;
      }
     
     

      .titProjetos,.contatoTitulo{
        margin-left: 14px;
        margin-top: 45px;
        font-size: .8em;
      

        width: 100px;
        height: 30px;
        border-radius: 10px 1px 10px 1px;
         
       }
       .conteinerPrjt{
        width: 150px;
        height: 120px;
        display: flex;

      }
       
       .conteinerPrjt > img{
        width: 149px;
        height: 85px;
    
       }
       .conteinerPrjt > p{
         width: 120px;
         height: 22px;
         margin-top: 7px;

         border-radius: 10px 1px 10px 1px;
        
         font-size: .8em;
       }
       
       .linha2{
        margin-top: 35px;
       }
      /* ================ CONTATO ===================*/
      .secContato{
        width: 350px;
        margin: auto;
        padding: 10px;
      
        display: block;
        grid-area: contato;
        
      }
       .contatoTitulo{
        letter-spacing: .8px;
       }
       .pContato{
        font-weight: 500;
        font-size: 1em;
        margin-left: 14px;
        margin-top: 20px;
        display: flex;
        align-items: center;

       }
       .iconEmail,.iconFone{
        width: 15px;
        height: 15px;
        margin-right: 5px;
       }
       .pDadosContato{
        margin-left: 30px;
        margin-top: 10px;
        color: #f8f8f8;

        font-family: var(--fontTexto);
        font-size: .8em;
       }
}
